<% { %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('donations') %></h3>
    <div class="widget widget_athemes_social_icons">

		<ul class="clearfix widget-social-icons">   
			<% { %>
			<li><img src="https://whywhom.github.io/donate/WeChanQR.jpg" width="80%" height="80%" title=""></i></a></li> 
			<% } 
			{%>
			<li><img src="https://whywhom.github.io/donate/AliPayQR.jpg" width="80%" height="80%" title=""></i></a></li> 
			<% }%>
		</ul>
    </div>
  </div>
<% } %>
